@import "~bootstrap/scss/bootstrap";
@import "custom";
h1 {
    font-family: "IBM Plex Sans", sans-serif;
    padding-top: 20px;
    color: #1f4737;
    font-weight: bold;
    font-size: 35px;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #0d2629;
    font-size: 20px;
    margin-bottom: 5px;
}

h3 {
    font-size: 20px;
}

p {
    font-family: "IBM Plex Sans", sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    font-size: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

form {
    margin-top: 20px;
    max-width: 600px;
}

label {
    font-size: 14px;
}

button {
    font-size: 14px;
}

div {
    all: none;
}

hr {
    .solid {
        border-top: 1px solid gray
    }
}

*:focus {
    outline: none;
}

.container {
    margin-left: 20px;
}

.communityUrl {
    font-family: "Fira Mono";
    font-size: 12px;
    color: gray;
    padding: 0;
    margin-top: 0;
    display: block;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0d2629;
    overflow-x: hidden;
    padding: 0;
    display: inline-block;
    font-family: "Fira Mono";
    a {
        text-decoration: none;
        font-size: 12px;
        color: #6fdeb0;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        &:hover {
            background-color: #1f4737;
        }
    }
    li {
        list-style-type: none;
    }
    Link {
        color: #6fdeb0;
        float: right;
        padding-right: 10px;
    }
    .closeButtonInSideNav {
        cursor: pointer;
        float: right;
        color: #6fdeb0;
        font-size: 24px;
        padding-right: 10px;
        &:hover {
            color: white;
        }
    }
    .sideNavItems {
        margin-top: 30px;
    }
}

.main {
    display: block;
    font-size: 28px;
    width: 100%;
    margin-left: 360px;
}

.topnav {
    background-color: white;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
    a {
        float: left;
        display: block;
        color: darkgray;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        margin-top: 0;
        font-size: 14px;
        box-shadow: 5px;
        &:hover {
            background-color: #f0f0f0;
        }
    }
    li {
        display: inline;
    }
    .logo {
        margin-right: 7px;
        color: white;
    }
    .icon-background {
        color: #42bda0;
        display: block;
    }
    .site-logo {
        float: left;
        color: black;
        text-align: center;
        padding-top: 8px;
        padding-left: 10px;
        text-decoration: none;
        margin-top: 0;
        margin-right: 0px;
        font-size: 10px;
    }
    .sitename {
        font-family: "Fira Mono";
        float: left;
        color: black;
        text-align: center;
        padding-top: 8px;
        margin-left: 5px;
        text-decoration: none;
        margin-top: 0;
        margin-right: 10px;
        font-size: 18px;
    }
    .toggleSideNavButton {
        cursor: pointer;
        float: left;
        display: block;
        color: darkgray;
        text-align: center;
        padding-bottom: 8px;
        padding-top: 8px;
        padding-left: 10px;
        text-decoration: none;
        margin-top: 0;
        font-size: 17px;
        &:hover {
            color: black;
        }
    }
}

.profile {
    padding: 15px;
}

.profile-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.community-info {
    color: gray;
    font-size: 12px;
}

.communityHeader {
    background-color: white;
    .communityNameBar {
        padding-left: 30px;
        margin-bottom: 10px;
    }
    .communityDescription {
        font-size: 16px;
        padding: 0px;
        font-family: IBM Plex Sans, sans-serif;
        color: black;
    }
    .communitySectionBar {
        padding-left: 30px;
        display: inline-block;
        width: 100%;
        background-color: lightgray;
        a {
            float: left;
            display: block;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 14px;
            &.active {
                background-color: #585858;
                color: white;
            }
            &:hover {
                background-color: #585858;
                color: white;
            }
        }
        .communitySectionTitle {
            font-family: 'Fira Mono';
            font-size: 12px;
            cursor: pointer;
        }
    }
}

.communityBody {
    margin-left: 10px;
    margin-right: 10px;
    .discussionListButton {
        margin-left: 20px;
        font-size: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .discussionList {
        padding: 0;
        margin-left: 10px;
        margin-bottom: 10px;
        >li {
            font-family: IBM Plex Sans, sans-serif;
            list-style-type: none;
            padding-left: 0;
        }
        .emptyNotice {
            padding-left: 10px;
            margin-top: 20px;
            font-size: 14px;
        }
    }
    .discussionTitle {
        font-size: 16px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .discussionAuthor {
        font-size: 10px;
        color: #5d6b66;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
    }
    .discussionLinks {
        font-size: 10px;
        color: #538f71;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .discussionListItem {
        background-color: white;
        border-left: 2px solid white;
        border-bottom: 1px solid lightgray;
    }
    .box {
        background-color: white;
        border-radius: 5px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        border: 1px solid lightgray;
        .boxHeader {
            color: black;
            background-color: #e6ffec;
            padding: 6px;
            font-size: 14px;
        }
        .boxContent {
            font-size: 14px;
            padding: 8px;
            font-family: IBM Plex Sans, sans-serif;
            color: black;
        }
    }
}

.discussionPage {
    .discussionBody {
        font-size: 16px;
        border: 1px solid #6fdeb0;
        width: 600px;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        padding-top: 7px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #e9fcf4;
    }
    .discussionAuthor {
        font-size: 14px;
    }
    .options-button {
        float: right;
    }
}

.understatedLink {
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

.communityList {
    padding: 0;
    border-top: 1px solid lightgray;
    margin-bottom: 10px;
    margin-left: 15px;
    .communityListItem {
        background-color: white;
        border: 1px solid #dedede;
        margin-top: 5px;
        padding-top: 10px;
        border-radius: 5px;
        width: 600px;
        font-size: 12px;
        &:hover {
            border: 1px solid gray;
            cursor: pointer;
        }
    }
    >li {
        font-family: IBM Plex Sans, sans-serif;
        list-style-type: none;
        padding-left: 0;
    }
}

.community {
    margin: 0;
    padding: 0;
}

.comment {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    .commentText {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 10px;
    }
}