@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:regular');
@import url('https://fonts.googleapis.com/css?family=Lato:regular,bold,italic');
@import url('https://fonts.googleapis.com/css?family=DM+Mono:regular');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular');

h1 {
    font-family: "DM Serif Display", serif;
    padding-top: 20px;
    font-size: 55px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    margin-bottom: 0;
}

p {
    font-family: "Lato", sans-serif
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.communityUrl {
    font-family: "DM Mono";
    font-size: 18px;
    color: gray;
}

.communityDescription {
    color: gray;
    font-size: 18px;
}

.communityListItem {
    padding-top: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.communityListItem:hover {
    background-color: ghostwhite;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0d2629;
    overflow-x: hidden;
    padding: 0;
    display: block;
}

.sidenav a {
    text-decoration: none;
    font-size: 14px;
    color: #6fdeb0;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidenav li:hover {
    background-color: #32634f;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding-left: 10px;
}



/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 0;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #0d2629;
    color: #6fdeb0;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #32634f;
    color: white;
}

.topnav li {
    display: inline;
}

.circle {
    background: lightslategray;
    border-radius: 50%;
    height: 110px;
    width: 110px;
}

.profile {
    padding: 15px;
}

.profile-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.community-info {
    color: gray;
    font-size: 12px;
}