@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:regular');
@import url('https://fonts.googleapis.com/css?family=Lato:regular,bold,italic');
@import url('https://fonts.googleapis.com/css?family=DM+Mono:regular');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular');

h1 {
    font-family: "DM Serif Display", serif;
    padding-top: 20px;
    font-size: 55px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    margin-bottom: 0;
}

p {
    font-family: "Lato", sans-serif
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.communityUrl {
    font-family: "DM Mono";
    font-size: 18px;
    color: gray;
}

.communityDescription {
    color: gray;
    font-size: 18px;
}

.communityListItem {
    padding-top: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.communityListItem:hover {
    background-color: ghostwhite;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
}

.sidenav a {
    padding: 0px 8px 0px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding-left: 10px;
}



/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 0;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.topnav li {
    display: inline;
}

.circle {
    background: lightslategray;
    border-radius: 50%;
    height: 110px;
    width: 110px;
}